{% extends 'home.html' %} 
{% load static %}
{% block 'title' %}<title>Sign up</title>{% endblock %}

{% block 'Main_Content' %}
<section class="">
        <div class="register-bg">
                <div class="form_container">
                        <form action="" method="POST">
                                {% csrf_token %}
                                <h2>Register</h2>
                                <div class="input-box">
                                        <span class="icon"><i class="fa-solid fa-user"></i></span>
                                        <input type="text" name="{{ signup_form.username.html_name}}" maxlength="50" required>
                                        <label>Username</label>
                                </div>
                                <div class="input-box">
                                        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                                        <input type="email" name="{{ signup_form.email.html_name}}" required>
                                        <label>Email</label>
                                </div>
                                <div class="input-box">
                                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                                        <input type="password" name="{{ signup_form.password1.html_name}}" maxlength="30" required>
                                        <label>Password</label>
                                </div>
                                <div class="input-box">
                                        <span class="icon"><i class="fa-solid fa-key"></i></span>
                                        <input type="password" name="{{ signup_form.password2.html_name}}" maxlength="30" required>
                                        <label>Confirm Password</label>
                                </div>
                                <button class="reg-log-btn" type="submit">Sign up</button>
                                <div class="reg-log-link">
                                        <p>Don't have a account ? <a href="{% url 'signin' %}"> Sign in</a></p>
                                </div>
                        </form>
                </div>

        </div>
</section>

{% endblock %}

<!-- <div class="container py-5">
        <h1>Register</h1>
        <center>
        <form method="POST">
                {% csrf_token %}

                {{register_form}}
                
                <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
        <p class="text-center">If you have already have an account, <a href="{% url 'signin' %}">Click here</a></p>
</div> -->